* { padding:0px; margin:0px;}
body { width:100%; font-family:"微软雅黑,Arial"; font-size:12px;}
ul,li,ol,dl,dd,dt, p, span ,b ,i,s,u,h1,h2,h3,h4,h5,h6{ list-style:none;}
img{ border:0px;}
.clear:after { content:"."; clear:both;  height:0px; visibility:hidden; }

.nav{width:1900px; height:55px; background-color:#236fb8; margin:0 auto;}
.logo{float:left;}
.logo a{margin-left:-25px; font-size:24px; color:#ffffff;float:left; height:55px;line-height:55px;}
.logo img{width:100px;float:left;}
.logo2 {height:55px;line-height:55px;color:#ffffff;margin-left:100px;}
.logo2 a{padding: 0 15px;font-size:16px;color:#ffffff; font-weight:bold; }
.logo3{height:55px;line-height:55px;color:#ffffff;font-size:16px; font-weight:bold; float:right;}
.logo3 a{padding: 0 15px; }

.lg{width: 1900px; height:406px; background:url("I:/xx/bbb/tp/2.png") bottom center,linear-gradient(145deg,#0D47A1,#42A5F5); background-blend-mode: multiply;background-size: 100%; margin:0 auto;}
.tp{ width:1900px;margin:0 auto;}
.tp h1{text-align:center;}
.tp p{margin-bottom:33px;}
.tp h1 span{color:#ffffff;}
.tp img{width:300px;margin-bottom:30px;}
.tp button{text-align:center; padding:16px 65px; color:#287ad5; font-size:13px;}

.lj{width:745px;height:104px;border:1px solid #ccc; background-color:#ffffff;margin:0 auto;margin-top:35px;}
.lj img{width:100px;vertical-align:middle; margin:30px 0px;}
.lj span{font-size:16px;color:#4c81bd;margin-left:-30px;height:104px;line-height:104px;}
.lj a{color:#4c81bd;font-size:12px;}
.lj button{float:right;padding:8px 28px;margin:30px 30px;}

.max{width:825px;margin:0 auto; margin-top:127px;}
.max img{width:389px; float:left; margin-right:60px;}
.max h2{float:left;font-size:26px; color:#546e7a; margin:16px 0;}
.max p{font-size:15px; color:#546e7a;width:360px;line-height:1.5em;float:left;padding-bottom:200px;}

.max1{width:825px;margin:0 auto;margin-top:130px;}
.max1 h2{font-size:26px; color:#546e7a;float:left;}
.max1 p{font-size:15px; color:#546e7a;width:360px;line-height:1.5em;float:left;}
.max1 img{width:389px;  }